.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}

.text {
  color: #777;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.container {
  display: flex;
  border: #333 1px;
  border-radius: 5px;
  border-style: solid;
  background: rgb(212, 212, 212);
  height: 300px;
  max-width: 400px;
  margin: 10px;
}
.rightContainer {
  display: flex;
  margin: 10px;
}
.flexdirectionC {
  flex-direction: column;
}

.flexdirectionCr {
  flex-direction: column-reverse;
}

.flexdirectionR {
  flex-direction: row
}

.flexdirectionRr {
  flex-direction: row-reverse;
}

.box {
  height: 50px;
  width: 50px;
  margin: 5px;
  padding: 10px;
}

.boxRed {
  border-style: solid;
  border: #777;
  background-color: red;
}

.boxBlue {
  border-style: solid;
  border: #777;
  background-color: blue;
}

.boxGreen {
  border-style: solid;
  border: #777;
  background-color: green;
}